<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Користувачі</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h2>Список зареєстрованих користувачів</h2>
    <ul>
        {% for user in users %}
            <li><b>{{ user.name }}</b> ({{ user.email }}) — {{ user.message }}</li>
        {% endfor %}
    </ul>
    <a class="back" href="/">Повернутися на головну</a>
</body>
</html>

